.button {
  background-color: orangered;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;

  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(255, 170, 0);
}

.button:focus {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
