.authentication__header {
  color: black;
  text-align: center;
  margin: 500px;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

body {
  background-image: url("../../jonathan-borba-lrQPTQs7nQQ-unsplash.jpg");
  background-size: cover;
}
