.new-exercise {
  width: 90%;
  max-width: 50rem;
  margin: 7rem auto;
  text-align: center;
}

.new-exercise form {
  margin-bottom: 1rem;
}
.new-exercise form button {
  margin-top: 1rem;
}

.button {
  margin: 1rem;
}
